<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head><title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Express</h1>
    <p>Welcome to Express</p>
    <div id="border">
        <input type="text" class="solid"  value="solid">
        <input type="text" class="dashed" value="dashed">
        <input type="text" class="dotted" value="dotted">
        <input type="text" class="double" value="double">
    </div>
</body>
</html>