h1 {
  font-family: Georgia, "Times New Roman", Times, serif ;
  font-size: 1.6em;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}

.solid {
  border-color: black;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  margin: 1.2em;
}

.dashed {
  border-color: black;
  border-style: dashed;
  border-width: 4px;
  padding: 1.2em;
}

.dotted {
  border-color: black;
  border-style: dotted;
  border-width: 4px;
  height: 2.0em;
}

.double {
  border-color: black;
  border-style: double;
  border-width: 4px;
  box-shadow: 0 3px 8px 0 ;
}


body {
  /*margin: 50px;*/
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color: grey;
  background-image: url('/images/bg-body.jpg');
}

a {
  color: #00B7FF;

}
